/*
 Matthew Ashton
 MUI 1308 Project 1
 CSS Style sheet for Web App
 */


#browseSportsTitle{text-align:center;}
#whatToWatch{text-align:center;}
#listOfSports{text-align:center;}
#required1{font-size: 12px; color: #0000CC;}
#required2{font-size: 12px; color: #0000CC;}
#required3{font-size: 12px; color: #0000CC;}
#required4{font-size: 12px; color: #0000CC;}
#required5{font-size: 12px; color: #0000CC;}

label.error{display:block; margin: 5px 0; color: red;}

body{
    background: #F1F3EC;
}

   
a:hover{color:blue;}

/*legend {
    color: #003963;
    background: #F1F3EC;
    font-size: 20px;
    font-weight: bold;
    font-family: Verdana, Geneva, sans-serif;
}*/

img{
    margin: 0px;
}


ul{
    margin-bottom: 3px;
    padding-left: 15px;
    text-align: left;
}

li {
    padding-left: 0px;
    font-size: 14px;
    font-family: Verdana, Geneva, sans-serif;
}

fieldset {
    padding: 5px;
    color: #000000;   
}

#search-basic{
    margin-top: 20px;
    
}
input{
    margin-bottom: 15px;
    color: black;
}



